{%extends 'all-photos/base.html'%}

{% block content%}
{{block.super}}

<div class="container">

    <!-- Looping through images   -->
    {% for pic in pics %}
    
  
    <div class="row">
      <!-- displaying Images name-->
      <div class="col-md-12">
        <h2 class="text-center"> {{ pic.image_name }} </h2>
        <img id="myImg-{{pic.id}}" src="{{pic.post_image.url}}" onclick="displayModal(this)" class="img-responsive" alt= "image">
        <p class="text-center">Posted on: {{ pic.pub_date}}</p>
        <a class="navbar-brand" href="{%url 'post_comment' image_id=pic.id %}">comment</a>
      </div>

      <!-- The Modal -->
      <div id="myModal-{{pic.id}}" class="modal">
        <span class="close" id="close-{{pic.id}}">&times;</span>
        <img class="modal-content" id="img-{{pic.id}}">
        <div id="caption-{{pic.image_description}}">
        </div>
      </div>
  
    {% empty %}
    <div class="row">
      <h2 class="text-center">There No Pictures Posted</h2>
    </div>
    {% endfor %}
    {% for comment in comments %}
        here {{comment.comments}}
        {% endfor %}
  
  </div>
  
  {% endblock %}
